.nav-li li {
    list-style-type: none;
    margin-left: 1rem;
}

.nav-li li a {
    color: rgb(41, 40, 40);
}

.nav-li li a:hover {
    text-decoration: none;
}

.logo-img {
    width: 150px;
}

.btn-more {
    margin-top: 40px;
}

.nav-li {
    width: 100%;
    font-size: 12px;
}

.carousel-inner img {
    width: 100%;
    max-height: 500px;
}

.btn-more {
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    font-size: 18px;
}

.btn-quote:hover,
.btn-more:hover {
    background-color: red;
    color: whitesmoke;
}

.product1 img {
    max-width: 400px;
}

.foot-b {
    border-bottom: .5px solid gray;
}

.foot-cont p,
.copyright p {
    color: rgb(153, 152, 152);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.services h3 {
    color: black;
}

.intro h2,
.services h2 {
    font-size: 28px;
    font-weight: bold;
}

.services img {
    border-radius: 4px;
}

.foot-cont h3 {
    font-size: 22px;
    font-weight: bold;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* .carousel {
    max-height: 500px;
} */


/*Products*/

.products h1 {
    font-size: 28px;
}

.prod-statement {
    font-size: 15px;
}

.products a h2 {
    font-size: 26px;
    font-weight: bold;
}

.btn-quote {
    background-color: white;
    color: red;
    border: .5px solid red;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    font-size: 18px;
}